@font-face {
    font-family: 'Gilroy-Light';
    src: url('../assets/fonts/Gilroy-Light.eot');
    src: url('../assets/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gilroy-Light.woff') format('woff')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy-Light';
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

:root {
    --purple: #928FDF;
}

.header-top {
    min-height: 100px;
    max-height: 150px;
    height: 15vh;
    padding: 20px;
    border-bottom: 3px solid var(--purple);
}

.logo {
    height: 100%;
}

.logo-link{
    height: 100%;
}

.user {
    height: 100%;
}

.user-icon {
    color: var(--purple);
    font-size: 50px;
    margin-right: 20px;
}

.user-name {
    color: var(--purple);
    font-size: 20px;
}

.patient-list-container {
    height: 50px;
}

.patient-list {
    justify-content: flex-start;
    height: 100%;
}

.patient-container {
    height: 100%;
    width: 300px;
    color: var(--purple);
    border: 1px solid var(--purple);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 10px;
}

.patient-container:nth-child(1n+2) {
    border-left: none;
}

.patient-container:nth-child(1) .patient {
    color: #FF0089;
}
.patient-container:nth-child(2) .patient {
    color: #0093FF;
}
.patient-container:nth-child(3) .patient {
    color: #00A326;
}

.patient-container i {
    font-size: 20px;
}

.patient i {
    font-size: 30px;
}

.patient-name {
    margin-left: 10px;
}

.add-patient {
    width: auto;
}

.title{
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Gilroy-Light';
    font-size: 50px;
}

.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    width: 400px;
    height: 200.5px;
    border-radius: 20px;
  }
  
  .cards {
    max-width: 1825px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
.button{
    text-align: center;
    background-color: #928FDF;
    color: white;
    font-size: 25px;
    padding: 12.5px 5px;
    width: 100px;
    border-radius: 25px;
    margin-left: 47.5%;
    margin-top: 3%;
    margin-bottom: 10px;
}
.link{
    text-decoration: none;
}
.label{
    font-size: 30px;
}
.form-flex{
    display: flex;
    
}
.label-text{
    color: #928FDF;
}
.label-flex{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
