.correct-input {
    margin: 0 0 -32px 270px;
    position: relative;
    width: 20px;
    display: none;
}

.hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }

.correct-text {color: #5CB78A;}
.correct-text, .error-text {
    display: none;
    text-align: center;
    margin: 20px 0 40px 0;
}

.help-text {
    text-align: center;
    margin: 40px 0 59px 0;
}